<section class="block container block-domain" data-aos="fade-up">
  <header class="block__header">
    <h2>A brief introduction about myself</h2>
    <br />
    <p class="paragraph_intro">
      Hello, I'm Amulek Angulo, a passionate and dedicated Software Developer
      with a strong drive to create efficient and impactful software solutions.
      I'm actively seeking an internship to gain practical experience and
      further enhance my skills in the field.
    </p>
    <br />
    <p class="paragraph_intro">
      Over the past 4 years, I have acquired extensive knowledge of programming
      languages such as Python, PHP, JavaScript, and C#, as well as databases
      like MySQL, PL/SQL, and MS SQL Server. Additionally, I have experience
      working with frameworks such as Angular and .NET, using them to create,
      maintain, and write software for various personal projects. Alongside
      technical expertise, I have also developed valuable interpersonal skills
      including leadership, communication, emotional intelligence, teamwork, and
      business management.
    </p>
    <br />
    <p class="paragraph_intro">
      I find great satisfaction in fixing bugs and writing clean software, as it
      enables better collaboration among team members and ensures a positive
      experience for end users. I am also passionate about implementing
      efficient algorithms to enhance overall performance as projects scale over
      time. Continual learning is a personal objective of mine, as I believe
      there is always room for improvement. I strive to grow as a Software
      Developer and as an individual, both by assisting others and seeking
      guidance from my peers. I am eager to work for a company that fosters
      knowledge expansion and personal and professional development and allows
      me to apply my skills to achieve exceptional outcomes.
    </p>
    <p class="paragraph_intro">
      If you would like to learn more about me, let's connect on LinkedIn to
      continue the conversation.
    </p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter my name here..." />
    <a
      class="btn btn--accent"
      href="https://www.linkedin.com/in/amulekangulo/"
      target="_blank"
    >
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use></svg
      >Go to LinkedIn
    </a>
  </div>
</section>
