<h2 class="block__header">Web Development Projects</h2>
<section class="block container block-plans">
  <div class="grid grid--1x3">
    <div class="plan">
      <div class="card card--secondary">
        <header class="card__header">
          <h3 class="plan__name">Front End</h3>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">HTML</li>
            <li class="list__item">CSS</li>
            <li class="list__item">JavaScript</li>
            <li class="list__item">Angular</li>
          </ul>
          <button class="btn btn--outline btn--block">Check FE Projects</button>
        </div>
      </div>
    </div>
    <div class="plan plan--popular">
      <div class="card card--primary">
        <header class="card__header">
          <h3 class="plan__name">Full Stack</h3>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">MongoDB</li>
            <li class="list__item">Express</li>
            <li class="list__item">Angular</li>
            <li class="list__item">Node.js</li>
          </ul>
          <button class="btn btn--outline btn--block">Check FS Projects</button>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--secondary">
        <header class="card__header">
          <h3 class="plan__name">Back End</h3>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">PHP</li>
            <li class="list__item">MySQL</li>
            <li class="list__item">Node.js</li>
            <li class="list__item">MongoDB</li>
          </ul>
          <button class="btn btn--outline btn--block">Check BE Projects</button>
        </div>
      </div>
    </div>
  </div>
</section>
